{% extends "account/auth_base.html" %}

{% block headtitle %} | Change Password{% endblock headtitle %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block auth_icon %}{% include "account/snippets/auth_icon.html" with icon="success" %}{% endblock auth_icon %}

{% block auth_title %}{% trans "Password Changed" %}{% endblock auth_title %}

{% block auth_subtitle %}
<p class="m-0 w-[502px] max-w-full text-base leading-6 text-[var(--auth-text-muted)]">
	{% trans 'Your password is now changed.' %}
</p>
{% endblock auth_subtitle %}

{% block auth_body %}
<a class="auth-button-primary focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring-focus" href="{% url 'account_login' %}">
	{% trans "Sign In" %}
</a>
{% endblock auth_body %}
