# Copy this file to .env. Process environment variables take precedence.
SECRET_KEY=
DEBUG=true
LOCAL_INSTALL=true
PORTAL_NAME=CinemataCMS
# ADMIN_PASS=
FRONTEND_HOST=http://localhost:8000
ALLOWED_HOSTS=127.0.0.1,localhost
DATABASE_NAME=mediacms
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=mediacms
DATABASE_PASSWORD=mediacms
REDIS_LOCATION=redis://127.0.0.1:6379/1
USE_X_ACCEL_REDIRECT=false
MFA_REQUIRED_ROLES=superuser
# UPLOAD_HOST=http://localhost:8000
VITE_DEV_MODE=true
