// #_COLORS

/* @link: http://compass-style.org/reference/compass/helpers/colors/ */

// #_THEME COLOR

/* https://websafecolors.info/color-chart */

// $theme-color: red;
// $theme-color: #009900;

// $theme-color: #009933;

$theme-color: var(--theme-color, var(--default-theme-color));

// $theme-color: #a5002c;	// CC brand color.
// $theme-color: #4f6368;

// $theme-color: #e01e1e;	// EM red brand color.

$color-error-red: rgba(#dc2626, 0.8);

$message-default-color: rgba(#111827, 0.9);

$message-default-bg-color: var(--cinemata-neutral-200);
$message-info-bg-color: var(--cinemata-pacific-deep-50);
$message-error-bg-color: var(--cinemata-red-50);
$message-success-bg-color: var(--cinemata-green-100);

$message-warning-bg-color: var(--cinemata-amber-50);
