// #_COLORS

/* @link: http://compass-style.org/reference/compass/helpers/colors/ */

// #_THEME COLOR

/* https://websafecolors.info/color-chart */

// $theme-color: red;
// $theme-color: var(--cinemata-strait-blue-400);

// $theme-color: var(--cinemata-green-600);

$theme-color: var(--theme-color, var(--default-theme-color));

// $theme-color: #a5002c;	// CC brand color.
// $theme-color: #4f6368;

// $theme-color: #e01e1e;	// EM red brand color.

$color-error-red: rgba(red, 0.8);

$message-default-color: rgba(#111, 0.9);
$message-default-bg-color: var(--cinemata-neutral-200);
$message-info-bg-color: var(--cinemata-strait-blue-100);
$message-error-bg-color: var(--cinemata-red-100);
$message-success-bg-color: var(--cinemata-coral-reef-100);
$message-warning-bg-color: var(--cinemata-amber-50);
