{% load i18n %}
{% if user.is_superuser and PLATFORM_ANALYTICS_URL %}
<div class="app-reports module">
    <table>
        <caption>{% translate "Reports" %}</caption>
        <tbody>
            <tr class="model-platform-analytics">
                <th scope="row">
                    <a href="{{ PLATFORM_ANALYTICS_URL }}" target="_blank" rel="noopener noreferrer">{% translate "Platform analytics" %} (Umami)</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
