[Unit]
Description=uwsgi cinemata

[Service]
EnvironmentFile=/etc/cinematacms/app.env
Environment=PROMETHEUS_MULTIPROC_DIR="/tmp/prometheus_multiproc"
Environment=OTEL_SERVICE_ROLE="web"
ExecStartPre=/bin/bash -c "mkdir -p /tmp/prometheus_multiproc && chown www-data:www-data /tmp/prometheus_multiproc"
ExecStart=/home/cinemata/bin/uwsgi --ini /home/cinemata/cinematacms/uwsgi.ini
RestartSec=3
Restart=always


[Install]
WantedBy=multi-user.target
