MediaCMS.contents = {
    header: {
        right: null,
        onLogoRight: 'Your tagline here',
    },
    sidebar: {
		mainMenuExtraNewItems: [
			{
				text: "Curated Playlist",
				link: "/curated-playlist",
				icon: 'curatedPlaylist',
			},
			{
				text: "Blog",
				link: "/blog",
				icon: 'blogs',
			},
			{
				text: "Curator Voices",
				link: "/voices",
				icon: 'curatorVoice',
			},
			{
				text: "Partners",
				link: "/partners",
				icon: 'partner',
			},
		],
		mainMenuExtraItems: [
			{
				text: "Playlists",
				link: "/user/admin/playlists",
				icon: 'playlist_play',
			},
			{
				text: "Blog",
				link: "/blog",
				icon: 'article',
			},
			{
				text: "Curator Voices",
				link: "/voices",
				icon: 'record_voice_over',
			},
		],
        navMenuItems: [
			{
				text: "About the Site",
				link: "/about",
				icon: 'contact_support',
			},
			{
				text: "Editorial policy",
				link: "/editorial-policy",
				icon: 'description',
			},
			{
				text: "Contact",
				link: "/contact",
				icon: 'alternate_email',
			},
		],
		navMenuItemsNew: [
			{
				text: "About the Site",
				link: "/about",
				icon: 'about',
			},
			{
				text: "Editorial policy",
				link: "/editorial-policy",
				icon: 'editorial',
			},
			{
				text: "Contact",
				link: "/contact",
				icon: 'contact',
			},
			{
				link: '/help',
				icon: 'help',
				text: 'Help & Resources',
			},
		],
		footerNew: {
			logo: {
				link: "https://engagemedia.org",
				title: "EngageMedia",
				darkImage: "/static/images/em_logo_dark.png",
				lightImage: "/static/images/em_logo_light.png",
				target: "_blank",
				rel: "noreferrer",
			},
			links: [
				{
					text: "Powered by CinemataCMS",
					link: "https://github.com/EngageMedia-Tech/cinematacms",
					target: "_blank",
					rel: "noreferrer",
				},
				{
					text: "Terms & Privacy",
					link: "https://cinemata.org/terms",
					target: "_blank",
					rel: "noreferrer",
				},
			],
		},
		socialLinks: [
			{
				link: "https://mailer.cinemata.org",
				icon: "mail",
				label: "Open Cinemata mailer",
				target: "_blank",
				rel: "noreferrer",
			},
			{
				link: "https://www.facebook.com/cinematavideo",
				icon: "facebook",
				label: "Open Cinemata on Facebook",
				target: "_blank",
				rel: "noreferrer",
			},
			{
				link: "https://www.instagram.com/cinemata.apac?igsh=MWp6OWUxYjZpNGFwZg==",
				icon: "instagram",
				label: "Open Cinemata on Instagram",
				target: "_blank",
				rel: "noreferrer",
			},
		],
		belowNavMenu: '<ul class="social-media-links">\
				<li>\
					<a href="https://mailer.cinemata.org" target="_blank" rel="noreferrer" title="" alt="">\
					<img src="/static/images/icons/dark-mode/newsletter.png" loading="lazy" alt=""/>\
				</a>\
			</li>\
			<li>\
				<a href="https://www.facebook.com/cinematavideo" target="_blank" rel="noreferrer" title="" alt="">\
					<img src="/static/images/icons/dark-mode/facebook.png" loading="lazy" alt="" />\
				</a>\
			</li>\
			<li>\
				<a href="http://twitter.com/cinemata" target="_blank" rel="noreferrer" title="" alt="">\
					<img src="/static/images/icons/dark-mode/twitter.png" loading="lazy" alt="" />\
				</a>\
			</li>\
		</ul>',
		footer: '<div class="copyright-wrap">\
				<div class="copyright-notice">\
					<a href="https://engagemedia.org" target="_blank" rel="noreferrer" title="EngageMedia">\
						<span>\
							<img src="/static/images/em_logo_dark.png" alt="" class="em-dark" />\
							<img src="/static/images/em_logo_light.png" alt="" class="em-light" />\
						</span>\
					</a>\
				</div>\
				<div class="page-sidebar-bottom-content">powered by <a href="https://github.com/EngageMedia-Tech/cinematacms" title="CinemataCMS" target="_blank" rel="noreferrer">cinematacms</a></div>\
			</div>\
			<ul class="sidebar-bottom-menu">\
				<li><a href="https://cinemata.org/terms" title="Terms">Terms</a></li>\
				<li><a href="http://engagemedia.org/privacy/" title="Privacy">Privacy</a></li>\
		</ul>',
    },
    uploader: {
        // belowUploadArea: "{{PRE_UPLOAD_MEDIA_MESSAGE}}",
        belowUploadArea: 'Please check our <a href="./editorial-policy" title="Editorial Policy">Editorial Policy</a> before uploading media.<br/>Any media that does not comply with the policy will be deleted from Cinemata.org.<br/>Trusted Users may upload up to 10 media files. <a href="/contact" title="Contact us">Contact us</a> to apply for Trusted User status',
        postUploadMessage: "{{POST_UPLOAD_AUTHOR_MESSAGE_UNLISTED_NO_COMMENTARY}}",
    },
    notifications:{
        messages: {
            addToLiked: 'Added to favorites',
            removeFromLiked: 'Removed from favorites'
        },
    },
};
