{% extends "base.html" %}
{% load static %}
{% load webpack_manifest %}

{% block headtitle %}{% if user.name %}{{user.name}} - {% endif %}History - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}{% endblock headermeta %}

{% block topimports %}
<link href="{% hashed_static "css/history.css" %}" rel="preload" as="style">
<link href="{% hashed_static "css/history.css" %}" rel="stylesheet">
{%endblock topimports %}

{% block content %}
{% if user %}<div id="page-history"></div>{% endif %}
{% endblock %}

{% block bottomimports %}
<script src="{% hashed_static "js/history.js" %}"></script>
{% endblock bottomimports %}
