{% extends "base.html" %}
{% load static %}
{% load django_vite %}

{% block headtitle %}Manage comments - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="Manage comments - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

{% endblock headermeta %}

{% block content %}<div id="page-manage-comments"></div>{% endblock %}

{% block bottomimports %}
{% vite_asset 'src/entries/manage-comments.js' %}
{% endblock bottomimports %}
