{% extends "base.html" %}
{% load static %}
{% load webpack_manifest %}

{% block headtitle %}Playlist - {{PORTAL_NAME}}{% endblock headtitle %}

{% block topimports %}
<link href="{% hashed_static "css/playlist.css" %}" rel="preload" as="style">
<link href="{% hashed_static "css/playlist.css" %}" rel="stylesheet">
{%endblock topimports %}

{% block content %}
{% if user %}<div id="page-playlist"></div>{% endif %}
{% endblock %}

{% block bottomimports %}
<script src="{% hashed_static "js/playlist.js" %}"></script>
{% endblock bottomimports %}
