{% extends "base.html" %}
{% load static %}
{% load django_vite %}

{% block headtitle %}404 - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Page Not Found - {{ PORTAL_NAME }}</title>
{% endblock headermeta %}

{% block topimports %}
{% endblock topimports %}

{% block innercontent %}
<div id="page-error" class="error-page-wrap"></div>
{% endblock %}

{% block bottomimports %}
{% vite_asset 'src/entries/error.js' %}
{% endblock bottomimports %}