{% extends "root.html" %}
{% load static %}
{% load django_vite %}

{% block content %}
<div id="app-root"></div>
{% endblock %}

{% block aftercontent %}
{% include "components/footer.html" %}
{% if request.user.is_authenticated and request.resolver_match.url_name != 'account_logout' %}
{% include "account/snippets/logout_modal.html" %}
{% endif %}
{% endblock %}

{% block topimports %}
<link rel="stylesheet" href="{% vite_asset_url 'src/static/css/tailwind.css' %}">
{% block modernpageimports %}{% vite_asset 'src/entries/base.js' %}{% endblock modernpageimports %}
{% endblock topimports %}
