{% extends "root.html" %}
{% load static %}
{% load django_vite %}

{% block beforecontent %}
{% include "components/header.html" %}
{% include "components/sidebar.html" %}
{% endblock %}

{% block content %}
<div class="page-main">
    <div class="page-main-inner">
    {% block innercontent %}{% endblock innercontent %}
    </div>
    <div class="page-sidebar-content-overlay"></div>
</div>
{% endblock %}

{% block aftercontent %}
{% include "components/footer.html" %}
{% if request.user.is_authenticated and request.resolver_match.url_name != 'account_logout' %}
{% include "account/snippets/logout_modal.html" %}
{% endif %}
{% endblock %}

{% block topimports %}{% vite_asset 'src/entries/base.js' %}{% endblock topimports %}
