.circle-icon-button {
	--txt-color: var(--text-muted);
	--bg-color: var(--bg-surface-raised);

	--bg-focus-color: var(--bg-skeleton);
	--bg-active-color: var(--bg-surface-muted);
}

body.dark_theme .circle-icon-button {
	--txt-color: var(--text-muted);
	--bg-color: var(--bg-surface-raised);

	--bg-focus-color: var(--bg-skeleton);
	--bg-active-color: var(--bg-surface-muted);
}

.circle-icon-button {
	color: var(--txt-color);
	background-color: var(--bg-color);
}

a.circle-icon-button,
button.circle-icon-button {
	&:focus {
		> * {
			background-color: var(--bg-focus-color);
		}
	}

	&:active {
		> * {
			background-color: var(--bg-active-color);
		}
	}
}

.video-player .more-media {
	// In video player "More videos" section, use dark theme properties.

	a.circle-icon-button,
	button.circle-icon-button {
		&:focus {
			> * {
				background-color: rgba(0, 0, 0, 0.07);
			}
		}

		&:active {
			> * {
				background-color: rgba(0, 0, 0, 0.11);
			}
		}
	}
}

.circle-icon-button {
	display: block;
	padding: 0;

	width: 40px;
	height: 40px;

	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;

	outline-width: 0;
	border-width: 0;

	border-radius: 50%;

	> * {
		display: table;
		width: 100%;
		height: 100%;
		border-radius: 50%;

		> * {
			display: table-cell;
			vertical-align: middle;
			border-radius: 50%;
		}
	}

	&.button-shadow {
		box-shadow:
			0 4px 4px rgb(0 12 32 / 0.3),
			0 0 4px rgb(0 12 32 / 0.2);
	}

	i {
		overflow: hidden;
	}
}
